<mat-toolbar color="primary">
  <mat-icon>local_fire_department</mat-icon>
  <span>
    {{ title }}
  </span>
  <div class="example-spacer"></div>
  <button mat-raised-button color="accent" (click)="newTask()">
    <mat-icon>add</mat-icon>
  </button>
</mat-toolbar>

<div class="container-wrapper" cdkDropListGroup>
  <div class="container">
    <h2>Tasks</h2>
    <div
      id="tasks"
      cdkDropList
      #tasksList="cdkDropList"
      [cdkDropListData]="tasks"
      [cdkDropListConnectedTo]="[doneList, pendingList]"
      (cdkDropListDropped)="drop($event)"
      class="list"
    >
      <p *ngIf="(tasks | async)?.length === 0">No tasks...</p>
      <app-task
        *ngFor="let task of tasks | async"
        [task]="task"
        cdkDrag
        (edit)="editTask('tasks', $event)"
      ></app-task>
    </div>
  </div>
  <div class="container">
    <h2>Pending</h2>
    <div
      id="pending"
      cdkDropList
      #pendingList="cdkDropList"
      [cdkDropListData]="pending"
      [cdkDropListConnectedTo]="[doneList, tasksList]"
      (cdkDropListDropped)="drop($event)"
      class="list"
    >
      <p *ngIf="(pending | async)?.length === 0">No tasks...</p>
      <app-task
        *ngFor="let task of pending | async"
        [task]="task"
        cdkDrag
        (edit)="editTask('pending', $event)"
      ></app-task>
    </div>
  </div>
  <div class="container">
    <h2>Done</h2>
    <div
      id="done"
      cdkDropList
      #doneList="cdkDropList"
      [cdkDropListData]="done"
      [cdkDropListConnectedTo]="[pendingList, tasksList]"
      (cdkDropListDropped)="drop($event)"
      class="list"
    >
      <p *ngIf="(done | async)?.length === 0">No tasks...</p>
      <app-task
        *ngFor="let task of done | async"
        [task]="task"
        cdkDrag
        (edit)="editTask('done', $event)"
      ></app-task>
    </div>
  </div>
</div>
